{% extends "master.html"%}
{% block content %}
<h2>Introduction To Machine learning</h2>
<p>
    Machine learning (ML) is a type of artificial intelligence (AI) that allows computers to learn without being explicitly programmed. This article explores the concept of machine learning, providing various definitions and discussing its applications. The article also dives into different classifications of machine learning tasks, giving you a comprehensive understanding of this powerful technology.

    If you are new to the machine learning world and want to learn these skills from the basics to advance then you should check out our course Introduction to Machine Learning in which we have all the concepts you need to learn, mentored by industry-grade teachers.
    </p>
{% endblock %}
