<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
</head>
<body>
    <h1>Welcome to AIDS Department</h1>

    <!-- <form action="/submit" method="post" >
        <label>English</label><br>
        <input type="text" id="english" value="0" name="english"><br><br>

        <label>Math</label><br>
        <input type="text" id="math" value="0" name="math"><br><br>

        <label>Python</label><br>
        <input type="text" id="python" value="0" name="python"><br><br>

        <label>Django</label><br>
        <input type="text" id="django" value="0" name="django"><br><br>

        <input type="submit" value="submit">
    </form> -->

    <form action="/submit" method="post" >
        <label>Enter your name :</label><br>
        <input type="text" id="name" value="0" name="english"><br><br>

        <label> Enter your age :</label><br>
        <input type="text" id="age" value="0" name="age"><br><br>

        
        <input type="submit" value="submit">
    </form>



</body>
</html>